# Ignore everything
**

# Allow these files and directories
!/.scripts/**
!/.devcontainer/**
!/safe-autonomy-simulation/**
!/docs/**
!/config/**
!/scripts/**
!/Dockerfile
!/LICENSE.md
!/setup.cfg
!/README.md
!/pyproject.toml
!/poetry.lock


