#!/usr/bin/env bash

############################################################
# Verify dependencies
############################################################

if ! command -v crane; then
   cat <<EOF >&2
crane is required for retrieving credentials

To install crane with Homebrew:
   brew install crane
EOF
   exit 1
fi

if ! command -v yq; then
   cat <<EOF >&2
yq is required for parsing credentials

To install yq with Homebrew:
   brew install yq
EOF
   exit 1
fi

############################################################
# Default XDG directories
############################################################

# Set XDG_CONFIG_HOME for use in Docker compose to point to Poetry's auth.toml file
if [[ "$OSTYPE" == "darwin"* ]]; then
   XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/Library/Application Support}"
else
   XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"
fi

############################################################
# Retrieve credentials
############################################################

# get credentials for ACT3 GitLab to use in docker compose
if ! auth=$(crane auth get reg.git.act3-ace.com); then
   cat <<EOF >&2
Command failed: crane auth get reg.git.act3-ace.com
Output: $auth

Are you authenticated to reg.git.act3-ace.com?

If not, authenticate with ACT3 Login or a registry tool (docker/oras/crane/etc)

ACT3 Login documentation:
   https://www.git.act3-ace.com/onboarding/set-up-tools/#act3-login-script"
EOF
   exit 1
fi

# Parse token
if ! ACT3_TOKEN=$(echo "$auth" | yq .Secret); then
   cat <<EOF >&2
Command failed: echo "$auth" | yq .Secret
Output: $ACT3_TOKEN

Are you authenticated to reg.git.act3-ace.com?

If not, authenticate with ACT3 Login or a registry tool (docker/oras/crane/etc)

ACT3 Login documentation:
   https://www.git.act3-ace.com/onboarding/set-up-tools/#act3-login-script"
EOF
   exit 1
fi

# Parse username
if ! username=$(echo "$auth" | yq .Username); then
   # use a fallback because the username isn't required
   username="token"
fi

# Store the token in username:token format for use in the Dockerfile
export ACT3_SECRETS_GITLAB="$username:$ACT3_TOKEN"
