repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.5.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.16.0"
    hooks:
      - id: blacken-docs
  - repo: https://github.com/DanielNoord/pydocstringformatter
    rev: "v0.7.3"
    hooks:
      - id: pydocstringformatter
  - repo: https://github.com/openstack/bashate
    rev: "2.1.1"
    hooks:
      - id: bashate
  - repo: https://github.com/hadolint/hadolint
    rev: "v2.12.0"
    hooks:
      - id: hadolint
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: "v0.11.0"
    hooks:
      - id: markdownlint-cli2
        name: Lint markdown files
        alias: mklint
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: "23.12.1"
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.1.9"
    hooks:
      - id: ruff
      - id: ruff-format
        stages: [manual]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.8.0"
    hooks:
      - id: mypy
